.categories
  display: grid
  grid-template-columns: repeat(3, 1fr)
  width: 100% 
  gap: 2rem

  
.newColumn
  display: flex
  align-items: center
  justify-content: center
  color: $secondText
  font-weight: 600
  font-size: 2.8rem
  margin-top: 4.5rem
  border-radius: 0.75rem
  cursor: pointer
  transition: all .15s ease-in
  
  &:hover
    color: lighten(#798291, 15)
    text-shadow: 0 0 15px rgba($accent, 0.4)

  &::selection
    background-color: $darker


.newColumn.third_column
  grid-column-start: 3
  grid-row-start: 1
