@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Kanit:wght@500;600&family=Oswald:wght@300;400&display=swap')

@import './reset'
@import './vars'

:root 
  --toastify-color-progress-dark: #645FC6


html, body
  font-size: 10px
  height: 100%


body
  position: relative
  overflow: hidden
  min-width: 320px
  font-family: $barlow
  font-size: 1.6rem
  background-color: $darker

::selection
  background-color: $dark
  color: $accent



