.container
  width: 100%
  min-height: 100vh

.content
  padding-top: calc( 85px + 20px )
  padding-bottom: 20px
  padding-right: 30px
  padding-left: calc( 20% + 30px )
  transition: all .15s ease

  &.sidebar_hidden
    padding-left: 20px

  @media (max-width: 1200px)
    padding-left: calc( 250px + 30px )

  @media (max-width: 800px)
    padding: 105px 20px 30px
