.sidebar
  position: absolute
  left: 0
  color: $secondText
  background-color: $dark
  width: 20%
  height: 100%
  border-right: 1px solid rgba(#fff , 0.15)


.logo
  width: 100%
  display: flex
  font-size: 4rem
  font-weight: 500
  align-items: center
  font-family: $kanit
  height: 85px
  color: $white

// .logo_img

.logo_text
  width: 100%
  text-align: center
  margin-top: -13px


.sidebar_menu
  padding: 2.5rem


.boards_count
  text-transform: uppercase
  font-weight: 500
  letter-spacing: 0.1em
  font-size: 1.4rem


.categories
  margin-top: 1.5rem

  a
    color: $secondText
    display: block
    position: relative
    padding: 1rem
    font-size: 1.9rem
    font-weight: 500
    

  .active
    color: $white
    z-index: 10

    &::before
      background-color: $accent
      border-radius: 100px
      content: ''
      position: absolute
      top: 0
      left: -20%
      bottom: 0
      height: 100%
      width: 120%
      z-index: -1


.create_board
  color: $accent
  margin-top: 1.5rem
  font-size: 1.9rem
  font-weight: 500
  cursor: pointer
  transition: color 0.2s ease-in

  &:hover
    color: lighten(#645FC6, 10)


a.active span::selection
  color: $darker
  background-color: $accent
